*{
    margin: 0px;
    padding: 0px;

}
.icon1{
    font-size: 40px;
    color: rgb(90, 24, 4);
    padding: 20px;

}
.App{
    background-color: rgb(165, 189, 181);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(116, 84, 145);
    padding: 20px 90px;
    box-shadow:  0 5px 15px rgb(27, 31, 19);
    
    

}
.navbarul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbarul li{
   list-style: none;
    padding: 0 20px;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.navbarul li:hover{
    color: rgb(5, 13, 13);
}


.icon2{
    display: none;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
}    

.butt{
    font-size: 20px;
    color: aquamarine;
    background-color: rgb(187, 117, 77);
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 40px;
    margin-left: 10px;
}
.butt:hover{
    cursor: pointer;
    color: rgb(24, 111, 173);
}

@media screen and (max-width:796px) {
    .navbarul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:130px;
        right: 0px;
        width: 300px;
        height: 90vh;
        background-color: black;
        box-shadow:  0 40px 60px rgb(red, green, blue);
    }
    .navbarul li{
        margin-bottom: 25px;
    }
    .icon2{
    display: block;
        align-items: center;
        font-weight: 600;
        font-size: 30px;
    }    
    .icon2{
        font-size: 35px;
        cursor: pointer;
    }

}