 
 
 .card-container{
    overflow:scroll;
    border: 2px solid rgb(183, 19, 19);
    height: 350px;
    display: flex;
    margin: 30px;

    
}
.card-container::-webkit-scrollbar{
    display: none;
}


 .container{

   background-color: rgb(26, 79, 61);
   width: 250px;
   border-radius: 15px;
   text-align: center;
   padding: 20px;
   margin: 20px;
   color: white;

} 

img{
    width: 120px;
    height: 120px;
    border-radius: 40px;
    padding: 10px;
}
