body{
    background-color: white;
}
.container {
  width: 25%;
  height: 60%;
  background-color: rgb(244, 243, 243);
  margin-top:288px;
  margin-left: 925px;
  border-radius: 10px;
  padding-left: 25px;
  padding-top: 20px;
}


h4{
font-size: 11px;
cursor: pointer;


}
.butt{
    background-color: rgb(244, 243, 243);
    height: 9vh;
}


h4:hover{
    text-decoration: underline;
}


.container3 {
  display: flex;
  justify-content: space-around;
}

.img1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
 cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  top: 20%;
  left: 5%;
  
  
}

/* h2{
  margin-left: 1rem;
  
} */
.follow {
  border-radius: 20px;
  width: 5rem;
  height: 2rem;
  margin-top: 8px;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(19, 19, 19);
  color: white;
  
}
.follow:hover {
    background-color: rgb(244, 243, 243);
    color: black;
}

.showmore {
  font-size: 10px;
  cursor: pointer;
  font-weight: 200;
  color: blue;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

 
.MainContaner{
    display: grid;
    margin-top: 2rem;
    gap: 5px;
    width: 90%;
    margin-left: 1rem;
} 

 
