

.calc{

  width: 320px;
  margin: 100px auto;
  background-color: rgb(2, 20, 20);
}
#ans{
background-color: #4d4c4c;
padding: 10px;
font-size: 40px;
width: 295px;
height: 52px;
text-align: right;
border: 3px solid #333;
color: white;
}
.button{
  background-color: #313131;
  height: 80px;
  width: 80px;
  color:rgb(9, 251, 170);
  border: 1px solid rgb(3, 26, 3);
  border-radius: 50%;
  font-size: 15px;
}



.button1{
  width: 120px;
  background-color: #333333;
  height: 80px;
  border-radius: 30%;
  border: 1px solid rgb(3, 26, 3);
  color: rgb(250, 144, 5);
  font-size: 15px;
}
.hii{

  text-align: center;
  justify-content: center;
  padding-top: 50px;
  

}
.hii .hover{
  color: yellowgreen;
}