.App{
  width: 30%;
  height: 10vh;
  background-color: aquamarine;
  margin: 50px;
  padding: 100px;
  border: 2px solid black;
}
input{
  
  font-size: 16px;
}
button{
  font-size: 16px;
  background-color: rgb(153, 114, 189);
}
